.textJustified {
  text-align: justify;
  text-justify: inter-word;
}

.card {
  border-radius: 50px;
  background: #ffffff;
  box-shadow:
    3px 3px 10px #d9d9d9,
    -3px -3px 10px #ffffff;

  img {
    aspect-ratio: 3/2;
    object-fit: contain;
  }
}

.patientsHeadClass {
  background-color: $silver-100;
  border-radius: 8px 8px;
  border-collapse: separate;
  border-spacing: 0 1rem;
  padding: 0 1rem;

  thead {
    tr {
      th {
        text-align: center;
        font-size: 1rem;
        color: $silver-950 !important;
        padding: 1.5rem 0.5rem;
      }
      th:first-child {
        border-radius: 0 0px 0px 21px;
      }
      th:last-child {
        border-radius: 0 21px 21px 0px;
      }
    }
  }
  tbody {
    border: 1px solid $color-secondary;
    tr {
      padding: 1rem 0.5rem;
    }
    td:first-child {
      border-radius: 0 0px 0px 21px;
    }
    td:last-child {
      border-radius: 0 21px 21px 0px;
    }
    td {
      text-align: center;
      padding: 1rem 0.5rem;
      align-items: center;
    }
    tr:nth-child(odd) {
      background: $color-white !important;
      box-shadow: none;
      td {
        vertical-align: middle;
        background: $color-white !important;
        box-shadow: none !important;
      }
    }
    tr:nth-child(even) {
      background: $color-white !important;
      box-shadow: none;
      td {
        vertical-align: middle;
        background: $color-white !important;
        box-shadow: none !important;
      }
    }
  }
}
