@import "./variables.scss";
@import "./utilities.scss";

body {
  box-sizing: border-box !important;
}

label,
select,
p,
input,
button,
span,
div,
textarea {
  font-size: $default-font-size !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
input,
select,
li,
label,
p,
textarea {
  color: $color-titles-and-texts;
}

p {
  text-justify: inter-word;
}
